body {
  margin: 0;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,215,236,1) 0%, rgba(174,241,224,1) 100%); */
  background-color: #dfe6e9;
  font-family: 'Nanum Myeongjo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

button {
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}